body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.custom-btn {
  background-color: #157347;
  border-color: #146c43;
}

.custom-btn:hover {
  background-color: darkgreen;
}

